#eclipse
/**/bin
/**/.settings
/**/.classpath
/**/.project

#In case people make their workspace in the repo
/eclipse/

#idea
/.idea
/classes
*.iml

#gradle
/**/build
/**/.gradle

#occupational hazards
/projects/
/repo/
/out/
/src/generated-sources/
/logs/

*.tokens
/forge-deobfed-out.jar
/forge-deobfed-new.jar
/forge-deobfed.jar
/out.log
/**/logs/
/test_results.html
